* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: "SF Pro Text Regular";
    src: url("../css/fonts/sf-pro-text-regular.ttf") format("truetype") ;   
}

@font-face {
    font-family: "SF Pro Text Bold";
    src: url("../css/fonts/sf-pro-text-bold.ttf");   
}

body {
    font-family: "SF Pro Text Regular", sans-serif;
    color: #1d1d1f
}

h1 {
    font-size: 56px;
    letter-spacing: -1px;
}

h2 {
   font-family: "SF Pro Text Regular", sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
}
 
.header {
    background: rgb(37, 37, 37) ;
    padding: 10.5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.header-container li a {
    color: #d6d6d6;
    text-decoration: none;
    font-size: 14px;
}

.headsup {
    text-align: center;
    font-size: 14px;
}

.headsup p {
    line-height: 1.47059;
    padding: 12px ; 
}

.headsup a {
    color: rgb(1, 30, 59);
    text-decoration: none;
}

.headsup a:hover {
    text-decoration: underline;
}

.iphone-se,
 .iphone-11 {
    width: 100%;
    height: 692px;
    background: url(../img/bg1.jpg);
    color: #fff ;
    text-align: center;
    padding-top: 50px;
}

.iphone-se .titulo,
 .iphone-11 .titulo {
    margin-top: 6px;
}

.iphone-se .subtitulo, 
.iphone-11 .subtitulo {
    margin-bottom: 12px;
}

.iphone-se a, 
.iphone-11 a {
    color: #2997ff;
    text-decoration: none;
    font-size: 21px;
}

.iphone-se a:hover, 
.iphone-11 a:hover {
    text-decoration: underline;
}

.iphone-se a:last-child,
 .iphone-11 a:last-child {
    margin-left: 26px;
}

.iphone-se a::after,
 .iphone-11 a::after {
    content: " ";
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url(../img/seta1.svg) no-repeat;
    margin-left: 6px;
}

.iphone-11 {
    margin-top: 12px;
    background: url(../img/bg2.jpg);
    color: #1d1d1f;
}

.iphone-11 a::after {
    background: url(../img/seta2.svg)
}

.iphone-11 a {
    color: #06c;
}

